.photo_correction
{
    height: 70px!important;
    max-width: 100px!important;
}

.modalPhoto
{
    height: 200px;
}

td, th
{
    padding: 5px 5px;
}

.productname
{
    width: 40%!important;
}

.color_icon
{
    color: yellowgreen!important;
}