.icon_delete
{
    margin-left: 0px!important;
}

.show_margin
{
    margin-right: 10px!important;
}

.product_post_row
{
    margin-bottom: 0px;
}

.img_height
{
    min-height: 200px!important;
    width: 200px!important;
}

.close_modal
{
    margin-top: 10px!important;
}

.modal_content_left
{
    padding-top: 0px!important;
}

.modal_content_right
{
    padding-right: 10%!important;
    width: 62%;
}

.modal_description_product
{
    width: 400px;
}

.width_name_product
{
    width: 400px;
}

.sortable
{
    cursor: pointer;
}

.sortable::after {
    content: "▼▲";
}

