.icon_delete
{
    margin-left: 0px!important;
}

.show_margin
{
    margin-right: 10px!important;
}

.product_post_row
{
    margin-bottom: 0px;
}

.img_height
{
    height: 200px!important;
    width: 200px!important;
}

.close_modal
{
    margin-top: 10px!important;
}